/* ------------WhiteNoise Custom -------------------  */

/* Custom font sizes */
.Node.is-currentRoot > .Node-self .node-line, 
.Node.is-currentRoot > .Node-self.is-heading .node-line, 
.Node.is-currentRoot > .Node-self .node-line-strict, 
.Node.is-currentRoot > .Node-self.is-heading .node-line-strict {
  font-size: 27px;
  line-height: 32px;
}

.is-mediumFont .Node-self.is-heading1 .Node-contentContainer {
    font-size: 23px;
}
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer {
    font-size: 21px;
}
.is-mediumFont .Node-self.is-heading3 .Node-contentContainer {
    font-size: 19px;
}
.is-mediumFont .Node-contentContainer {
  font-size: 18px;
}
.is-mediumFont .Node-noteContainer {
    font-size: 16px;
}
.Pane {
    font-size: 18px;
}
.node-backlink-counter {
  font-size: 9pt;
}
.DocumentSearch {
  font-size: 17px;
  width: 400px;
}
.katex {
  font: normal 1.1em KaTeX_Main,Times New Roman,serif !important;
  line-height: 1.0  !important;
}

/* Reduce sides padding */
.is-desktop .Document-rootNode {
  padding-right: 20px;
  padding-left: 40px;
}

/* Move mobile popup down */
.is-mobile .full-screen-prompt-container {
  top: 40%;
}

/* strikethrough everything */ 
/*
.Node.is-checked .node-time {
  color: var(--gray-3);
  text-decoration: line-through;
}
*/

/* Hide bookmarks icons */
.BookmarkItem-icon {
  display: none;
}
/* Hide folder and file icons */
/*
.DocumentItem-icon,
.FolderItem-icon {
  display: none;
}
*/

/*  Shrink Images by doing ![](https://.../blah.jpg#75)  */
.node-displayed-image[src$="#75"] {
  max-width: 75%;
  max-height: 75%; 
}
.node-displayed-image[src$="#50"] {
  max-width: 50%;
  max-height: 50%; 
}
.node-displayed-image[src$="#25"] {
  max-width: 25%;
  max-height: 25%; 
}