/* ------------WhiteNoise Custom -------------------  */

/* Custom font sizes */
.is-mediumFont .Node-self.is-heading1 .Node-contentContainer {
    font-size: 22px;
}
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer {
    font-size: 20px;
}
.is-mediumFont .Node-self.is-heading3 .Node-contentContainer {
    font-size: 18px;
}
.is-mediumFont .Node-contentContainer {
  font-size: 18px;
}
.is-mediumFont .Node-noteContainer {
    font-size: 16px;
}
.Pane {
    font-size: 18px;
}
.node-backlink-counter {
  font-size: 9pt;
}
.DocumentSearch {
  font-size: 17px;
  width: 400px;
}
.katex {
  font: normal 1.1em KaTeX_Main,Times New Roman,serif !important;
  line-height: 1.0  !important;
}

/* strikethrough everything */ 
/*

.Node.is-checked .node-time {
  color: var(--gray-3);
  text-decoration: line-through;
}
*/

/* Hide folder and file icons */
.BookmarkItem-icon {
  display: none;
}
/*
.DocumentItem-icon,
.FolderItem-icon {
  display: none;
}
*/

/*  Shrink Images by doing ![](https://.../blah.jpg#75)  */
.node-displayed-image[src$="#75"] {
  max-width: 75%;
  max-height: 75%; 
}
.node-displayed-image[src$="#50"] {
  max-width: 50%;
  max-height: 50%; 
}
.node-displayed-image[src$="#25"] {
  max-width: 25%;
  max-height: 25%; 
}

/* Custom mobile sync indicator */
.MobileHeader-moreOption {
  display: none !important;
}
.is-moreOptionsOpen .MobileHeader-moreOption {
  display: block !important;
}
.MobileHeader-moreOptions {
  display: block;
  top: -1px;
  left: 40px;
  right: auto;
  background: transparent;
  box-shadow: none;
}
.is-moreOptionsOpen .MobileHeader-moreOptions {
  top: 5px;
  left: auto;
  right: 5px;
  background: var(--gray-9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.MobileHeader-moreOption--saveNow {
  display: block !important;
  color: var(--yellow);
}
.MobileHeader-moreOption--saved.is-disabled, 
.MobileHeader-moreOption--synced.is-disabled {
  display: block !important;
  color: var(--green);
}
.MobileHeader-moreOption--saveNow[style*='display: none'],
.MobileHeader-moreOption--saved[style*='display: none'],
.MobileHeader-moreOption--synced[style*='display: none'] {
  display: none !important;
}